In [31]:
import yfinance as yf
from pandas_datareader.data import web
import datetime as dt
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as pyplot
%matplotlib inline

In [47]:
start_date = dt.datetime(2020,1,1)
end_date = dt.datetime(2023,3,1)
# tickers = ['AAPL', 'AMZN', '^GSPC', 'META', '^GSPC', 'MSFT']
# for t in tickers:
#     t = web.DataReader(t, 'stooq', start_date, end_date
aapl = web.DataReader('META', 'stooq', start_date, end_date)
gspc = web.DataReader('^GSPC', 'stooq', start_date, end_date)
msft = web.DataReader('MSFT', 'stooq', start_date, end_date)
tsla = web.DataReader('TSLA', 'stooq', start_date, end_date)
aapl = web.DataReader('AAPL', 'stooq', start_date, end_date)
amzn = web.DataReader('AMZN', 'stooq', start_date, end_date)

In [48]:
amzn.head()

             Open   High      Low  Close    Volume
Date
2023-03-01  93.87  94.68  91.5900  92.17  52299524
2023-02-28  93.14  94.69  92.9200  94.23  43959290
2023-02-27  94.28  94.78  93.1400  93.76  47470321
2023-02-24  93.53  94.14  92.3186  93.50  57053812
2023-02-23  96.12  96.43  93.6700  95.82  48466994

In [ ]:
msft